[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
wheel = "*"
twine = "*"

[packages]
requests = "*"
marshmallow = "*"
marshmallow-enum = "*"
pandas = "*"

[requires]
python_version = "3.8"
